body {
  font-family: "ABCRepro-Medium", Helvetica, Arial, sans-serif;
  background-color: rgb(223, 181, 255);
}

.main {
  padding: 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

.list__item {
  font-size: 20px;
  border-bottom: 2px solid rgb(255, 98, 0);
  padding: 5px 0;
  transition: 0.3s ease-in-out;
  color: rgb(144 0 255);
}

.list__item:hover {
  font-style: italic;
  color: rgb(0, 0, 0);
}

.list__item__header {
  display: flex;
  gap: 5px;
  align-items: baseline;
  cursor: pointer;
}

.list__item__artist {
  font-size: 15px;
  white-space: nowrap;
}

.list__item__body {
  height: 0;
  overflow: scroll;
  transition: height 0.3s ease-in-out;
  /* transform: rotateX(-90deg) */
}

.clicked{
  height: 140px;
}
